<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="\Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="flancer32_minify_make" xsi:type="object">\Flancer32\Minify\Cli\Cmd\Make</item>
                <item name="flancer32_minify_revert" xsi:type="object">\Flancer32\Minify\Cli\Cmd\Revert</item>
            </argument>
        </arguments>
    </type>
</config>
